macbook-pro {
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  min-width: 1728px;
  min-height: 4219px;
  position: relative;
}

.macbook-pro .rectangle {
  position: absolute;
  top: 155px;
  left: 1545px;
  width: 153px;
  height: 68px;
  background-color: #fffcfc;
  border-radius: 50px;
}

.macbook-pro .group {
  position: absolute;
  width: 1225px;
  height: 90px;
  top: 237px;
  left: 251px;
}

.macbook-pro .rectangle-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 1225px;
  height: 90px;
  display: flex;
}

.macbook-pro .div {
  width: 1225px;
  height: 90px;
  background-color: #c2bebe;
  border-radius: 30px;
}

.macbook-pro .img {
  position: absolute;
  width: 51px;
  height: 48px;
  top: 21px;
  left: 25px;
}

.macbook-pro .rectangle-2 {
  position: absolute;
  top: 995px;
  left: 91px;
  width: 737px;
  height: 420px;
  object-fit: cover;
}

.macbook-pro .rectangle-3 {
  position: absolute;
  top: 494px;
  left: 91px;
  width: 737px;
  height: 420px;
  object-fit: cover;
}

.macbook-pro .rectangle-4 {
  position: absolute;
  top: 670px;
  left: 1884px;
  width: 135px;
  height: 109px;
  background-color: #d9d9d9;
}

.macbook-pro .text-wrapper {
  position: absolute;
  top: 413px;
  left: 114px;
  width: 97px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #0c0c0c;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-pro .p {
  position: absolute;
  top: 1638px;
  left: 321px;
  width: 1286px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-pro .text-wrapper-2 {
  position: absolute;
  top: 1509px;
  left: 551px;
  font-family: "Inter-SemiBold Italic", Helvetica;
  font-weight: 600;
  font-style: italic;
  color: #000000;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-pro .text-wrapper-3 {
  position: absolute;
  top: 946px;
  left: 107px;
  width: 97px;
  font-family: "Fjalla One-Regular", Helvetica;
  font-weight: 400;
  color: #0c0c0c;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-pro .rectangle-5 {
  position: absolute;
  top: 1789px;
  left: 625px;
  width: 460px;
  height: 321px;
}

.macbook-pro .rectangle-6 {
  position: absolute;
  top: 1789px;
  left: 91px;
  width: 460px;
  height: 321px;
}

.macbook-pro .rectangle-7 {
  position: absolute;
  top: 2603px;
  left: 91px;
  width: 460px;
  height: 321px;
  background-color: #bebbbb;
  border-radius: 35px;
}

.macbook-pro .rectangle-8 {
  position: absolute;
  top: 2603px;
  left: 634px;
  width: 460px;
  height: 321px;
  background-color: #b8b0b0;
  border-radius: 35px;
}

.macbook-pro .rectangle-9 {
  position: absolute;
  top: 2603px;
  left: 1177px;
  width: 460px;
  height: 321px;
  background-color: #c5c0c0;
  border-radius: 35px;
}

.macbook-pro .rectangle-10 {
  position: absolute;
  top: 2180px;
  left: 625px;
  width: 460px;
  height: 321px;
}

.macbook-pro .rectangle-11 {
  position: absolute;
  top: 2180px;
  left: 1177px;
  width: 460px;
  height: 321px;
  background-color: #b1a8a8;
  border-radius: 35px;
}

.macbook-pro .rectangle-12 {
  position: absolute;
  top: 2180px;
  left: 91px;
  width: 460px;
  height: 321px;
  background-color: #c3c0c0;
  border-radius: 35px;
}

.macbook-pro .rectangle-13 {
  position: absolute;
  top: 1789px;
  left: 1203px;
  width: 460px;
  height: 321px;
  background-color: #cbc7c7;
  border-radius: 35px;
}

.macbook-pro .rectangle-14 {
  position: absolute;
  top: 3393px;
  left: -36px;
  width: 1831px;
  height: 935px;
  background-color: #5e4141;
  filter: blur(50px);
  opacity: 0.2;
}

.macbook-pro .group-2 {
  position: absolute;
  top: 7px;
  left: 22px;
  width: 97px;
  height: 91px;
}

.macbook-pro .rectangle-15 {
  position: absolute;
  top: 145px;
  left: 1339px;
  width: 188px;
  height: 68px;
}

.macbook-pro .group-3 {
  position: absolute;
  width: 1915px;
  height: 163px;
  top: 0;
  left: -131px;
}

.macbook-pro .group-4 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.macbook-pro .rectangle-16 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #110931;
  border-radius: 30px;
}

.macbook-pro .image {
  position: absolute;
  top: 7px;
  left: 305px;
  width: 215px;
  height: 144px;
  aspect-ratio: 1.5;
  object-fit: cover;
}

.macbook-pro .group-5 {
  position: absolute;
  top: 34px;
  left: 165px;
  width: 97px;
  height: 91px;
}

.macbook-pro .group-wrapper {
  position: absolute;
  height: 68px;
  top: 47px;
  left: 1037px;
  display: flex;
  align-items: flex-start;
  min-width: 775px;
}

.macbook-pro .group-6 {
  width: 775px;
  display: flex;
}

.macbook-pro .group-7 {
  width: 155px;
  height: 68px;
  position: relative;
}

.macbook-pro .rectangle-17 {
  position: absolute;
  top: 0;
  left: 0;
  width: 153px;
  height: 68px;
  background-color: #fffcfc;
  border-radius: 50px;
}

.macbook-pro .text-wrapper-4 {
  position: absolute;
  top: 5px;
  left: 19px;
  width: 116px;
  font-family: "Jomolhari-Regular", Helvetica;
  font-weight: 400;
  color: #0c0c0c;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-pro .group-8 {
  margin-top: 5px;
  width: 199px;
  height: 59px;
  position: relative;
  margin-left: 23px;
}

.macbook-pro .rectangle-18 {
  position: absolute;
  top: 0;
  left: 0;
  width: 197px;
  height: 59px;
}

.macbook-pro .text-wrapper-5 {
  position: absolute;
  top: 0;
  left: 10px;
  width: 177px;
  font-family: "Jomolhari-Regular", Helvetica;
  font-weight: 400;
  color: #0c0c0c;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-pro .group-9 {
  margin-top: 5px;
  width: 199px;
  height: 59px;
  position: relative;
  margin-left: 15px;
}

.macbook-pro .text-wrapper-6 {
  position: absolute;
  top: 0;
  left: 33px;
  width: 151px;
  font-family: "Jomolhari-Regular", Helvetica;
  font-weight: 400;
  color: #0c0c0c;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-pro .group-10 {
  margin-top: 5px;
  width: 172px;
  height: 59px;
  position: relative;
  margin-left: 14px;
}

.macbook-pro .rectangle-19 {
  position: absolute;
  top: 0;
  left: 0;
  width: 170px;
  height: 59px;
}

.macbook-pro .text-wrapper-7 {
  position: absolute;
  top: 0;
  left: 22px;
  width: 139px;
  font-family: "Jomolhari-Regular", Helvetica;
  font-weight: 400;
  color: #0c0c0c;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}